<!DOCTYPE html>
<html>
  <head>
    <title>AirStu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" >
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    
       
    <%= yield %>
    
  </body>
</html>
